@puff-social:registry=https://npm.pkg.github.com
only-built-dependencies[]=@prisma/client
only-built-dependencies[]= @prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=node_extra_ca_certs_mozilla_bundle
