@puff-social:registry=https://npm.pkg.github.com

# Disable the new security checks that are failing
supported-architectures=os=linux,cpu=x64
# Permitting the scripts (replaces the ignored package.json field)
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=node_extra_ca_certs_mozilla_bundle
# Disable the release age policy causing the 401
ignored-integrity-check-projects[]=@puff-social/commons
